@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        left: 0px;
        bottom: 0px;
        top: 55px;
        width: 72px;
        background-color: white;
        z-index: 200;
        padding-top: 5px;
    }

    .sidebar-link {
        height: 74px;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
    }

    .sidebar-link img {
        height: 24px;
        margin-bottom: 5px;
    }

    .sidebar-link div {
        font-size: 10px;
        line-height: 15px;
    }
}

@media (min-width: 1200.1px) {
    .sidebar {
        position: fixed;
        left: 0px;
        bottom: 0px;
        top: 55px;
        width: 250px;
        background-color: white;
        z-index: 200;
        padding-top: 12px;
    }

    .sidebar-link {
        height: 50px;
        cursor: pointer;

        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sidebar-link:hover {
        background-color: rgb(235, 235, 235);
    }

    .sidebar-link img {
        height: 24px;
        margin-left: 25px;
    }

    .sidebar-link div {
        font-size: 16px;
        margin-left: 20px;
    }
}